/*styles.css*/

    /*icon styling*/
    @import url(http://weloveiconfonts.com/api/?family=fontawesome);

    /* fontawesome */
    [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
    }

    html, textarea, table {
        background-color: black;
        color: rgb(180, 186, 218);
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aaa;
    }
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        word-break: normal;
        border-color: #aaa;
        border-top-width: 1px;
        border-bottom-width: 1px;
        text-align: center;
    }
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 12px;
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        word-break: normal;
        border-color: #aaa;
        background-color: #f38630;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
    .tg .tg-header {
        background-color: #6200c9
    }
    td.fld-rating {
        border-right: 1px solid #aaa;
    }
    th.fld-header {
        padding: 10px 24px;
    }
    td.fraa-cell {
        font-size: 11px;
    }
/*    .tg .tg-data {
        background-color: #cbcefb
    }*/